
# Eclipse
.classpath
.project
classes
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
.settings/
.loadpath
.externalToolBuilders/
*.launch

# IntelliJ IDEA
.idea/
.idea_modules/
doc/
out/
*.iml
*.iws

# Build output
*.class

# Libraries
*.jar

# Maven target
/target/

# macOS
.DS_Store
