
# Eclipse
.classpath
.project
classes
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
.settings/
.loadpath
.externalToolBuilders/
*.launch

# Build output
*.class

# Libraries
*.jar

# Test/benchmark output
/benchmark*.html